<%- include("page_top.ejs") %>
<main>
    <h1>
        employee list:
    </h1>

    <form>
        <select onclick="getList()" name="nameEmployee" id="nameEmployee"></select><br><br>
    </form>

    <table>
        <thead>
        <tr>
            <th>employee id:</th>
            <th>Entry_Date:</th>
            <th>Entry_Time:</th>
            <th>Depature Time :</th>
            <th>delete this line:</th>
        </tr>
        </thead>
        <tbody id="mainTable"></tbody>
    </table>

</main>
<script src="lfWork_crud.js"></script>
<%- include("page_bottom.ejs") %>

