<%- include("page_top.ejs") %>
<main>
    <h1>
       good morning my bitches:
    </h1>

<div>chose your name:</div>
    <form>
        <select name="nameEmployee" id="nameEmployee"></select><br><br>
    </form>
        <button onclick="intime()" >Check in</button>
        <button onclick="outTime()" >Check out</button>


</main>
<script src="/timeChek_crud.js" ></script>
<%- include("page_bottom.ejs") %>

